.footer_redes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-redes {
    color: rgb(117, 117, 117);
    margin: 0.3rem;
}
.icon-redes:focus, .icon-redes:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.logo-mainhdra {
    margin-right: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
}
.footer__container {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:#e8e3e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-copyright {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .footer__container p {
    font-size: 0.7rem;
    color: rgb(71, 70, 70);
  }


@media (min-width: 600px) {
    .footer_redes {
        display: flex;
        flex-direction: row;
    }
.footer__container {
    width: 100%;
    height: 4rem;
    padding: 0;
    background-color:#e8e3e9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__container p {
    font-size: 0.9rem;
    color: rgb(87, 85, 85);
  }
}

