.footer_redes {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-redes {
    color: #000;
    margin: 0.3rem;
}
.icon-redes:focus, .icon-redes:hover {
    transform: scale(1.2);
    transition: 0.2s;
}
.logo-mainhdra {
    margin-right: 0.5rem;
    width: 1.8rem;
    height: 1.8rem;
}
.footer__container {
    width: 100%;
    margin: 0;
    padding: 0.5rem;
    background-color:#e8e3e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-copyright {
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .footer__container p {
    font-size: 0.7rem;
    color: rgb(71, 70, 70);
    letter-spacing: 0.1rem;
  }


@media (min-width: 600px) {
    .footer_redes {
        display: flex;
        flex-direction: row;
    }
.footer__container {
    width: 100%;
    padding: 1.5rem;
    max-width: 1400px;
    background-color:#e8e3e9;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .footer__container p {
    font-size: 0.9rem;
    color: rgb(87, 85, 85);
  }
}


/* .container-copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}
.link-footer {
    text-decoration: none;
    color: grey;
    font-weight: 500;

}
.link-footer:hover {
    color: rgb(160, 81, 160);
}
.container-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-whapp {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */