
/* Original */
.container-home {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.img-home {
    margin: 1rem;
    width: 300px;
    height: auto;
    border-radius: 15px;
    box-shadow: 4px 5px 5px #e3cce7;
}
.img-home:hover {
    box-shadow: 4px 5px 5px 5px #a797aadc;
}

