
/* * {
    font-family: 'Roboto';
} */

.titulo-principal {
     margin-top: 2rem;
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    font-size: 3rem;
    font-weight: lighter;
    color: #000
}
 